body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
header {
background-color:rgb(252, 188, 136);
padding: 20px;
}
header > h2{
    color:rgb(233, 120, 27);

}
.container{

border: 2px solid rgb(221, 112, 10);
border-radius: 25px;
margin: auto;
margin-top: 50px;
padding: 16px;
width: 600px;
height: 450px;

}
.container2{

    border: 2px solid rgb(221, 112, 10);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 16px;
    height: 370px;
    
    }
.container > h3{
    background-color:rgb(245, 157, 86) ;
    color: rgb(214, 82, 20);
    font-size: 24px;
    border-radius: 6px;

}


footer {
    background-color: rgb(214, 82, 20);
    color:white;
    padding: 30px;
    margin: 30px;
    


}
input{

    padding: 10px;
    font-size: 20px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(221, 112, 10);
    width: 550px;
  }


  button {
    display: flex;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    outline: none;
    border: none;   
    border-radius: 10px;
    color: rgb(226, 98, 24);
    background-color: rgba(194, 114, 61, 0.705);
    border: 2px solid rgb(221, 112, 10); 
  }